.app-container {
  display: flex;
  align-items: start;
  gap: 50px;
}

.song-item {
  margin-bottom: 24px;
}

.alert-wrapper {
  position: fixed;
  top: 5%;
  right: 5%;
  transform: translate(-50%, -5%);
}

.playlist-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

/* PLaylist detail page */

.playlist-detail-container {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 28px;
}

.playlist-detail-cover {
  background-color: #f3f3f3;
  padding: 24px;
  border-radius: 10px;
}


/* Login page Wrapper */

.login-page-wrapper {
  height: 100%;
}


.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* Home */

.songs-list-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 28px 0;
}

@media only screen and (max-width: 430px) {
  .playlist-grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 431px) and (max-width: 786px) {
  .playlist-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
