.app-container {
  display: flex;
  align-items: start;
  gap: 50px;
}

.song-item {
  margin-bottom: 24px;
}

.alert-wrapper {
  position: fixed;
  top: 5%;
  right: 5%;
  transform: translate(-50%, -5%);
}
