.playlist-card {
  position: relative;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: #fff;
}

.card-content {
  padding: 12px 12px;
}

.playlist-cover {
  position: relative;
  background: #0693e3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.playlist-cover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-cover-overlay:hover {
  cursor: pointer;
  opacity: 1;
}

.card-content {
  bottom: 15px;
  left: 15px;
}
