.header-wrapper {
  height: 5rem;
}

.header-wrapper > div {
  height: 100%;
}

.header-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-text {
  font-family: monospace;
}

.logo-link {
  text-decoration: none;
}


.nav-list {
  list-style: none;
}

.nav-list > li {
  display: inline;
  margin-left: 24px;
}

.nav-link, nav-link:hover {
  text-decoration: none;
  color: #fff
}